<!-- Page Header -->

<nav class="pusher fixed">
    <div class="ui menu asd borderless" style="border-radius: 0!important; border: 0;">
        <h5 class="logo-txt">wishfulthoughts</h5>
        <div class="right menu">
            <!-- <div class="ui dropdown item">
                Language
                <i class="dropdown icon"></i>
                <div class="menu">
                    <a class="item">English</a>
                    <a class="item">Russian</a>
                    <a class="item">Spanish</a>
                </div>
            </div> -->
            <a class="item">Home</a>
            <a class="item">Posts</a>
            <a class="item">Gallery</a>
            <a class="item">Resume</a>
        </div>
    </div>
</nav>